/* Reset de estilos */
body, h1, h2, h3, p, ul, li 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body 
{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#080326, #0c0828);
    color: #FFFFFF;
}

.container 
{

    max-width: 1200px;
    margin: 0 20%;
    padding: 0px;
}

header 
{
    background-color: rgba(8, 3, 38, 0.95);
    color: #fff;
    padding: 10px 0;
    box-shadow: 0px 1px 1px rgba(255, 255, 255);
    position: fixed; /* Fija el encabezado en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que esté por encima del contenido */
    display: flex; /* Añadimos display flex al encabezado */
    justify-content: space-between; /* Distribuir elementos a los extremos */
    align-items: center; /* Centrar verticalmente los elementos */
}

.logo img 
{
    max-width: 50px; /* Tamaño máximo del logo */
    height: auto;
}

nav 
{
    display: flex;
    justify-content: space-between; /* Distribuir elementos a los extremos */
    align-items: center; /* Centrar verticalmente los elementos */
}

nav ul 
{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li 
{
    margin-right: 30px;
    white-space: nowrap;
}

nav ul li:first-child 
{
    margin-left: 140%;
}

nav ul li a 
{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover 
{
    color: #ff6f61;
}

h2 
{
    font-size: 28px;
}

.hero 
{
    max-width: 1200px;
    margin-left: 20%;
    margin-right: 19%;
    padding: 0px;
    text-align: left;
    margin-top: 300px; /* Espacio superior para compensar el encabezado fijo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content 
{
    flex: 1; /* Ocupa el espacio disponible restante en la sección "Inicio" */
    text-align: left;
}

.hero-content h1,
.hero-content h2,
.hero-content p 
{
    margin: 0; /* Eliminar márgenes para controlar el espaciado */
    padding: 0;
}

.image-frame 
{
    position: relative;
    height: 300px;
    width: 300px;

    min-width: 300px;
    min-height: 300px;
    border-radius: 50%; /* Bordes redondeados */
    background: #162052;
  
    display: flex;
    justify-content: flex-end; /* Alinea la imagen a la derecha */
    align-items: center; /* Centra verticalmente la imagen */
    overflow: hidden;
    margin-right: 80px;
}

.image-frame::before
{
    position: absolute;
    content: '';
    inset: -5px 100px;
    background: linear-gradient(315deg, #00ccff, #fff);
    transition: 0.5s;
    animation:animate 4s linear infinite;
}

.image-frame:hover::before
{
    inset: -20px;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.image-frame::after
{
    content:'';
    position: absolute;
    inset: 6px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
}

.image-content
{
    position: absolute;
    inset: 7px;
    border: 6px solid black;
    z-index: 5;
    border-radius: 50%;
}


.image-content img 
{
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    top: 0;
    left: 0;
}


.hero h1 
{
    font-size: 36px;
    margin-top: 7px;
    color: #00ccff;
}

.hero h2 
{
    font-size: 24px;
}

.hero p 
{
    margin-top: 10px;
    font-size: 22px;

}

section 
{
    text-align: center; /* Centrar el contenido en todas las secciones */
    padding: 60px 0;
    margin-top: 80px; /* Espacio superior para compensar el encabezado fijo */
}


section h2 
{
    font-size: 28px;
    margin-bottom: 30px;
}

.acerca-box
{
    background-color: #061F50;
    width: 100%;
}

.acerca-container
{
    max-width: 1200px;
    margin-right: 24%;
    margin-left: 20%;
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: left;
    margin-top: 200px; /* Espacio superior para compensar el encabezado fijo */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}

.acerca-content
{
    padding-top: 20px;
    padding-bottom: 

}

.acerca-content p
{
    word-spacing: 3px;
    text-align: justify;
}

.acerca-content-2
{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.acerca-content-2 h1
{
    padding-bottom: 20px;
}

.acerca-content-left li 
{
    list-style-type: disc; /* Usa viñetas */
    text-align: ;
    width: 200px;
    padding-bottom: 10px;
    padding-left: 3px;
}

.acerca-content-left li p
{
    opacity: .4;
    padding-top: 8px;
}

.acerca-content-left li::before 
{
    content: "•"
    margin-right: 30px;
}

.acerca-content-right h1
{
    padding-left: 100px;
} 

.acerca-content-right ul 
{
    padding-left: 100px;
    display: flex;
    flex-direction: row; /* Coloca los elementos en una columna */
    gap: 38px; /* Espacio entre elementos */
}

.acerca-content-right li 
{
    display: flex;
    flex-direction: column; /* Coloca la imagen y el texto uno encima del otro */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
}

.curriculum-button
{
    font-size: .875rem;
    line-height: 1.25rem;
    display: flex;

    border: 2px solid #00ccff;
    color: #00ccff;

    width: 105px;
    margin-top: 15px;

    user-select: none;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.375rem;
    padding: .5rem 1rem;

    text-decoration: inherit;
}

.curriculum-button:hover
{
    background-color: #120b3e;
    cursor: pointer;
}

.curriculum-icon
{
    width: 1.25rem;
    display: block;
    vertical-align: middle;
    text-align: center;
}

.project-section-container
{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20PX;

}

.project 
{
    --tw-bg-opacity: 1;
    background-color: rgb(0 25 56 / var(--tw-bg-opacity));
    
    background-color: #061F50;
    border: 1px solid #00ccff;
    border-radius: 0.75rem;
    overflow: hidden;
    margin-bottom: 30px;
    max-width: 19rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project img
{
    display: block;
    align-content: center;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 240px;
    width: auto;
}

.project-description
{
    padding: 1.25rem;
    border-top: 3px solid #00ccff;
    gap: 0.6rem;
    display: flex;
    flex-direction: column;

}

.project-description h3
{
    color: #00ccff;
    text-align: left;
    font-size: 21PX;
}

.project-description p
{
    font-size: 14px;
    line-height: 22px;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    padding-bottom: 12px;
}

.project-buttons-container
{
    gap: 0.75rem;
    justify-content: flex-start;
    width: 100%;
    display: flex;
}

.project-button
{
    font-size: .875rem;
    line-height: 1.25rem;

    border: 2px solid #00ccff;
    color: #00ccff;

    user-select: none;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.375rem;
    padding: .5rem 1rem;

    text-decoration: inherit;
}

.project-button:hover
{
    background-color: #0A2C6F;
}

.project:hover 
{
    transform: translateY(-5px);
}

.cta-button 
{
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff6f61;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover 
{
    background-color: #ff4e42;
}

.contact-background
{
    background-color: #061F50;
    padding-bottom: 10px;
}

.contact-container
{
    /*grid-template-rows: repeat(2,minmax(0,1fr));
    grid-template-columns: repeat(2,minmax(0,1fr));*/
    padding-bottom: 5rem;
    row-gap: 1.5rem;
    column-gap: 3.5rem;
    max-width: 58rem;
    display: flex;
    justify-content: center;
    width: 83%;
    margin: auto;
}

.contact-title
{
    gap: .25rem;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
}

.contact-title h2
{
    text-align: center;
    margin-bottom: 5px;
}

.contact-title p
{
    text-align: center;
}

.contact-info
{
    gap: 0.5rem;
    flex-direction: column;
    display: flex;
}

.contact-info p
{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin: 0;
}

.mail-image
{
    display: block;
    vertical-align: middle;
    width: 1.5rem;
    padding-right: 11px;
    color: #00ccff
}


.form-contact
{
    background-color: 
    -webkit-text-size-adjust: 100%;
    background-color: #080326;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: .75rem;
    gap: .75rem;
    flex-direction: column;
    max-width: 30rem;
    width: 100%;
    display: flex;
    grid-row: span 3 / span 3;

    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

.form-name
{
    gap: 0.25rem;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}

.form-mail
{
    gap: 0.25rem;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}

.form-message
{
    gap:.25rem;
    flex-direction: column;
    display: flex;
}

.contact-message-input
{
    --tw-border-opacity: 1;
    border-color: rgb(12 74 110 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(0 25 56 / var(--tw-bg-opacity));

    resize: none;
    height: 13rem;
    margin-top: .25rem;
    width: 92%;
    user-select: none;
    border-radius: .375rem;
    border-width: 1px;
    padding: .5rem .75rem;
    border-color: #00ccff;
    color: white;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: .5rem;
}

label
{
    text-align: left;
}

.contact-input
{
    --tw-border-opacity: 1;
    border-color: rgb(12 74 110 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(0 25 56 / var(--tw-bg-opacity));

    margin-top: 0.25rem;
    width: 92%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 0.375rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: #00ccff;
    padding: 0.5rem 0.75rem;
    margin-bottom: .5rem;
    color: white;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.form-button
{
    font-size: .875rem;
    line-height: 1.25rem;
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-radius: .375rem;
    border-color: transparent;
    letter-spacing: .05em;
    font-weight: 750;
    background-color: #00ccff;
    color: white;
}

footer 
{
    background-color: #080326;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}



